body {
  background-color: beige;
  color:coral;
}

h1, ul > li {
text-align: center;
}

ul {
  display: inline-block;
  background-color: antiquewhite;
  font-size: 30px;
  padding: 20px;
  list-style:none;
}

li {
  padding: 10px;
}

.list-container {
  display: flex;
  justify-content: center;

}