body {
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
}

.image {
  display: block;
  margin: 0 auto;
  border-radius: 30px;
}

#recipe-list {
  list-style-type: none;
  text-align: center;
}
ul, ol {
  font-size: 20px;
}

h3 {
  font-size: 30px;
  color:cadetblue;
}

p {
  font-size: 24px;
}